

nav{
    
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #777;
    background-color: transparent;
    backdrop-filter: blur(9px);
  
}

.header,
.links{

    display: flex;

    justify-content: center;
    align-items: center;
    
}

/*aqui esta dando erro no link*/
.header img {
    width: 1.9rem;
    margin-right: 0.9rem;
}

.header > h2 {
    color: #ffffff;
}

.links li {
    margin-right: 2rem;
    list-style: none;
   
}

.links a {
    padding: 0.1rem 0.3rem;
}

#add a {
    color: #ffffff;
}
#add a:hover{
    background-color: #ffffff;
}

