
    <div class="pro">
        <h1 align="center">Sobre min</h1>
    </div>

<div class="conteudo">
    <div class="box">
        <div>
            <nav>
                <ul>
                  <li>
                    <h3>
                    Meu nome é Renato dos Santos.

                    Tive meu contato com programação através um amigo que 
                    que tem me direcionado nos estudos,hoje tenho estudado Angular nela envolve 
                    HTML, CSS, TypeScrpt e JavaScript.

                    Apaixonado por tecnologia, iniciei meus estudos na área a cerca de um ano.
                    Gosto de novos desafios, aprender novas staks e dividir conhecimentos; meu objetivo em uma empresa é sempre buscar as melhores soluções possíveis para solucionar problemas, mas também me preocupo com os principais aspectos do negócio.

                    Sempre disposto a aprender com pensamento crítico, dinâmico, comunicativo, facilidade para se adequar a novas funções e relacionamento interpessoal.
                    Determinado para encarar novos desafios e lidar com momentos de pressão.

                    Flexível para as demandas, dedicado, trabalho em equipe e responsável 
                    </h3>
                  </li>
                </ul>
              </nav>            
        </div>
      </div>
</div>
