*{
    font-family: 'Courier New', Courier, monospace;

}
.conteudo {

    padding: 5rem;
    display: grid;
    grid-gap: 0 40rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/*texto*/
.conteudo .skills {
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(5px);
    height: 20rem;
    width: 40rem;
    display: flex;
    align-items: center center;
 
}

.content {
    position: absolute;
    padding: 10rem;
}

.skills h1{
    color: red;
    align-items: center;
  

}

.content p{
    color: #ffffff;
}