
*{
    list-style: none;
        font-family: 'Courier New', Courier, monospace;

    
}
nav {

    padding: 1em 5em;
    width: 18em;
    border-radius: 10em;
    background-color: transparent;
    backdrop-filter: blur(10px);
    float: none;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.project h1 {
    
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}



 h1{
color: rgb(248, 0, 0);
 padding: 1em;
}

