
.nome h1 {
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    color: rgb(248, 0, 0);
}

nav {
    padding: 0.6em 5em;
    width: 20em;
    border-radius: 10em;
    background-color: transparent;
    backdrop-filter: blur(30px);
    float: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

h3 {
    padding: 1em;
}

.linkedin h1 {
    padding: 0.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.Github h1 {
    padding: 0.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}